# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/
DerivedData/
.derivedData/
.DS_Store
build/
*.pbxuser
*.mode1v3
*.xcworkspace

# SPM
.swiftpm/
.build/

# IDE
.vscode/
.idea/

# Firebase (optional—keep this private)
GoogleService-Info.plist

# macOS
.AppleDouble
.LSOverride
